{% block body %}
	<div class="row">
		<div class="col-md-12">
			<h1>Editar Aporte</h1>
			{{ include('flash/message.html.twig') }}
			<a id="cancel-plantacion" class="btn btn-default" >Cerrar</a>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
		$(document).on('click', '#cancel-plantacion', function(event) {
		      event.preventDefault();
		      $('#modalEditar').modal('hide');
		    });
		</script>
{% endblock %}
