{% extends 'base.html.twig' %}

{% block body %}
  {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
  <div class="row">
    <div class="col-md-4">
      <h1>Editar Titular</h1>

      {{ form_start(edit_form) }}
          {{ form_widget(edit_form) }}
          <a id="cancel-titular" class="btn btn-default" onClick="history.go(-1);return true;">Cancelar</a>
          <input id="save-titular" class="btn btn-primary pull-right" type="submit" value="Guardar" />
      {{ form_end(edit_form) }}

    </div>
  </div>
{% endblock %}
