{% extends 'base.html.twig' %}

{% block body %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="row">
  <div class="col-md-5">
    <h2>Nuevo Titular</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <a id="cancel-titular" class="btn btn-default" onClick="history.go(-1);return true;">Cancelar</a>
        <input id="save-titular" class="btn btn-primary pull-right" type="submit" value="Guardar" />
    {{ form_end(form) }}
    </div>
  </div>

{% endblock %}
