<form name="titulares" class="form-horizontal" method="get" accept-charset="UTF-8">
	<div id="titulares">
		<div class="form-group">
			<label class="control-label col-sm-5" for="titulares_nombre">Nombre</label>
			<div class="col-sm-7">
				<input id="titulares_nombre" class="form-control" value="{% if param.nombre is defined %}{{param.nombre}}{% endif %}" name="titulares[nombre]" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-5" for="titulares_dni">DNI</label>
			<div class="col-sm-7">
				<input id="titulares_dni" class="form-control" value="{% if param.dni is defined %}{{param.dni}}{% endif %}" name="titulares[dni]" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-5" for="titulares_cuit">CUIT</label>
			<div class="col-sm-7">
				<input id="titulares_cuit" class="form-control" value="{% if param.cuit is defined %}{{param.cuit}}{% endif %}" name="titulares[cuit]" type="text">
			</div>
		</div>
	</div>
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('titulares') }}">
	<input id="search" class="btn btn-primary pull-right" value="Buscar" type="submit">
</form>
