security:
    providers:
        # in_memory:
        #     memory: ~
        my_ldap:
            ldap:
                service: Symfony\Component\Ldap\Ldap
                base_dn:         ou=Magyp Usuarios,dc=magyp,dc=ar
                search_dn:       "userldap@yourdomain"
                search_password: Yourpassword
                filter:          ({uid_key}={username})
                default_roles:   ROLE_ADMIN
                # uid_key:         sAMAccountName

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: ~
            form_login_ldap:
                provider: my_ldap
                login_path: login
                check_path: login
                service: Symfony\Component\Ldap\Ldap
                dn_string: '{username}@yourdomain'
                csrf_token_generator: security.csrf.token_manager
            logout:
                path: /logout

      access_control:
         - { path: ^/login$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
         - { path: ^/[0-9]+/delete$, role: ROLE_ADMIN , methods: DELETE }
         - { path: ^/expedientes/[0-9]+/movimientos/[0-9]+/delete$, role: ROLE_ADMIN , methods: DELETE }
         - { path: ^/expedientes/[0-9]+/movimientos/[0-9]+/actividades/[0-9]+$, role: ROLE_ADMIN, methods: DELETE  }
         - { path: ^/expedientes/[0-9]+$, role: [ROLE_ADMIN, ROLE_EDITOR] , methods: [GET,POST] }
         - { path: ^/expedientes/new$, role: [ROLE_ADMIN, ROLE_EDITOR] , methods: [GET,POST] }
         - { path: ^/expedientes/[0-9]+/edit$, role: [ROLE_ADMIN, ROLE_EDITOR] , methods: [GET,POST] }
         - { path: ^/expedientes/[0-9]+/movimientos/[0-9]+$, role: [ROLE_ADMIN, ROLE_EDITOR] , methods: [GET,POST] }
         - { path: ^/expedientes/[0-9]+/movimientos/new$, role: [ROLE_ADMIN, ROLE_EDITOR] , methods: [GET,POST] }
         - { path: ^/expedientes/[0-9]+/movimientos/[0-9]+/edit$, role: [ROLE_ADMIN, ROLE_EDITOR] , methods: [GET,POST] }
         - { path: ^/expedientes/[0-9]+/movimientos/[0-9]+/actividades/[0-9]+$, role: [ROLE_ADMIN, ROLE_EDITOR], methods: [GET,POST]  }
         - { path: ^/expedientes/[0-9]+/movimientos/[0-9]+/actividades/new$, role: [ROLE_ADMIN, ROLE_EDITOR], methods: [GET,POST]  }
         - { path: ^/expedientes/[0-9]+/movimientos/[0-9]+/actividades/[0-9]+/edit$, role: [ROLE_ADMIN, ROLE_EDITOR], methods: [GET,POST]  }
         - { path: ^/expedientes/[0-9]+/movimientos/[0-9]+/actividades/[0-9]+/mapa$, role: [ROLE_ADMIN, ROLE_EDITOR], methods: [GET,POST]  }
         - { path: ^/plantaciones/[0-9]+/delete$, role: ROLE_ADMIN , methods: DELETE }
         - { path: ^/plantaciones/[0-9]+$, role: [ROLE_ADMIN, ROLE_EDITOR] }
         - { path: plantaciones, role: [ROLE_ADMIN, ROLE_EDITOR] }
         - { path: aportes, role: [ROLE_ADMIN, ROLE_EDITOR] }
         - { path: titulares, role: [ROLE_ADMIN, ROLE_EDITOR] }
         - { path: tecnicos, role: [ROLE_ADMIN, ROLE_EDITOR] }
         - { path: ^/$, roles: [ROLE_ADMIN, ROLE_EDITOR] }
      encoders:
        AppBundle\Entity\User: bcrypt
