{% extends 'base.html.twig' %}

{% block body %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
<div class="row">
  <div class="col-md-5">
    <h2>Editar Movimiento</h2>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <a id="cancel-movimiento" class="btn btn-default" onClick="history.go(-1);return true;">Cancelar</a>
        <input id="save-movimiento" class="btn btn-primary pull-right" type="submit" value="Guardar" />
    {{ form_end(edit_form) }}
  </div>
</div>
{% endblock %}
