<div id="plantaciones-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="plantaciones-modal-label" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" type="button" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Cerrar</span>
      </button>
      <h4 id="plantaciones-modal-label" class="modal-title">Agregar Plantaciones</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" accept-charset="UTF-8" action="{{app.request.pathInfo}}" method="post" role="form">
            <div style="display:none">
              <input name="utf8" value="✓" type="hidden">
              <input name="authenticity_token" value="" type="hidden">
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="plantaciones-ids">Plantaciones</label>
              <div class="col-sm-8">
                <textarea id="plantaciones-ids" class="form-control" name="plantaciones-ids" rows="10"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="fecha">Fecha</label>
              <div class="col-sm-8">
                <input id="fecha" class="form-control" name="fecha" placeholder="AAAA-MM-DD" type="date">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="numero_plantas">Número de Plantas</label>
              <div class="col-sm-8">
                <input id="numero_plantas" class="form-control" name="numero_plantas" type="number">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="superficie_registrada">Superficie Registrada</label>
              <div class="col-sm-8">
                <input id="superficie_registrada" class="form-control" name="superficie_registrada" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="estado_aprobacion_id">Estado de Aprobación</label>
              <div class="col-sm-8">
                <select id="_estado_aprobacion_id" class="form-control" name="[estado_aprobacion_id]">
                  <option value="1">Aprobado</option>
                  <option value="2">Pendiente</option>
                  <option value="3">Rechazado</option>
                  <option value="4">Sin Especificar</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4" for="observaciones">Observaciones</label>
              <div class="col-sm-8">
                <textarea id="observaciones" class="form-control" name="observaciones"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" type="button" data-dismiss="modal">Cancelar</button>
      <button id="plantaciones-modal-add" class="btn btn-primary" type="button">Agregar</button>
    </div>
  </div>
</div>
</div>
