{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
<div class="row">
  <div class="col-md-6">
    <h2>Agregar Productor</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <a id="cancel-actividad" class="btn btn-default" onClick="history.go(-1);return true;">Cancelar</a>
        <input id="save-actividad" class="btn btn-primary pull-right" type="submit" value="Guardar" />
    {{ form_end(form) }}
  </div>
{% endblock %}
