<div id="nuevas-plantaciones-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="plantaciones-modal-label" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Cerrar</span>
				</button>
				<h4 id="plantaciones-modal-label" class="modal-title">Nuevas Plantaciones</h4>
			</div>
			<div class="modal-body">
				<textarea id="plantaciones_nuevas_ids" class="form-control" name="plantaciones_nuevas_ids" placeholder="Agregue un ID por línea" rows="10"></textarea>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" type="button" data-dismiss="modal">Cancelar</button>
				<button id="plantaciones-modal-add" class="btn btn-primary" type="button">Agregar</button>
			</div>
		</div>
	</div>
</div>
